body {
  background-color: #1f1f1f;
  background-image: url("assets/icons/background.png"); /* Corrigido o nome do arquivo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Courier New", monospace;
}

header {
  background: #000;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ffd700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

nav ul li button {
  background: #2c2c2c;
  color: #ffd700;
  padding: 10px 20px;
  border: 2px solid #ffd700;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav ul li button:hover {
  background: #ffd700;
  color: #2c2c2c;
}

main {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 10px;
  display: none;
}

main.active {
  display: block;
}

.sessao {
  display: none;
}

.sessao.active {
  display: block;
}

footer {
  background: #000;
  padding: 10px;
  text-align: center;
  color: #c7c2c2;
  margin-top: 30px;
}
footer a {
  color: #facc15; /* Um amarelo dourado bem no clima medieval */
  text-decoration: none; /* Remove o sublinhado padrão */
  font-weight: bold;
}

footer a:hover {
  color: #fde68a; /* Um tom mais claro quando passa o mouse */
  text-decoration: underline; /* Opcional: adiciona um sublinhado ao passar o mouse */
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li button {
    width: 100%;
    text-align: center;
  }
}
