/*Reset CSS para garantir consistência entre navegadores */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100dvh; /* Altura total da viewport */
  overflow: hidden; /* Impede a rolagem da página */
  font-family: "Lora", serif; /* Fonte serifada para o corpo do texto */
  color: white; /* Cor do texto */
  image-rendering: pixelated; /* Modern browsers (Chrome, Edge, Firefox) */
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
}

.game-container {
  position: relative; /* Permite posicionar elementos dentro do container */
  width: 100%;
  height: 100vh; /* Altura total da viewport */
  background-image: url("assets/icons/bc_wide_v4.png"); /* Imagem de fundo */
  background-size: cover; /* Cobre todo o container */
  background-position: center bottom; /* Centraliza a imagem de fundo na parte inferior */
  background-repeat: no-repeat; /* Impede repetição da imagem */
  display: flex; /* Flexbox para centralizar o conteúdo */
  flex-direction: column; /* Coloca os elementos em coluna */
  justify-content: space-between; /* Espaça os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  padding: 10px 0; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura/altura*/
  background-color: rgb(56, 27, 21); /* Cor de fundo para contraste */
}

/*Estilos para o cabeçalho do jogo */
.game-header {
  text-align: center; /* Centraliza o texto */
  color: white; /* Cor do texto */
  margin-top: 2vh; /* Espaçamento do topo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para destacar o texto */
  z-index: 1; /* Garante que o cabeçalho fique acima de outros elementos */
  position: relative; /* Permite posicionar o cabeçalho */
  padding: 0 10px; /* Espaçamento interno */
}

/* Estilos para o título e subtítulo do cabeçalho */
.game-header .title-wrapper {
  display: flex; /* Flexbox para alinhar o título e subtítulo */
  flex-direction: column; /* Coloca o título e subtítulo em coluna */
  align-items: center; /* Centraliza horizontalmente */
  gap: 20px; /* Espaçamento entre o título e subtítulo */
}

.game-header h1 {
  font-size: 4em; /* Tamanho do título */
  color: #f1c056; /* Amarelo dourado */
  letter-spacing: 10px; /* Espaçamento entre letras */
  line-height: 1.2; /* Altura da linha */
  text-shadow: #ffd90017; /* Sombra para destacar o título */
  font-weight: bold; /* Negrito para destaque */
}

.game-header h1 span {
  display: block; /* Força a quebra de linha */
  font-size: 0.8em; /* Tamanho do subtítulo */
  margin-top: 5px; /* Espaçamento superior */
  color: #f1c056; /* Cor do subtítulo */
  margin-bottom: 0; /* Remove margem inferior do subtítulo */
}

/* Estilos para o parágrafo do cabeçalho */
.game-header p {
  font-size: 1.6em; /* Tamanho do subtítulo */
  color: #d4e4cd; /* Cor do subtítulo */
  margin-top: 0; /* Espaçamento superior */
  letter-spacing: 1px; /* Espaçamento entre letras */
  line-height: 1.5; /* Altura da linha */
  display: flex; /* Flexbox para alinhar o texto */
  flex-direction: column; /* Direção da coluna */
  align-items: center; /* Centraliza horizontalmente */
}

.game-header p span {
  display: block; /* Força a quebra de linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 5px; /* Espaçamento superior */
  line-height: 1.2; /* Altura da linha */
}

.game-header p span:first-child {
  margin-bottom: 0; /* Remove margem inferior do primeiro span */
}

/* Estilos para o menu principal */
.main-menu {
  flex-grow: 1; /* Permite que o menu ocupe o espaço restante */
  display: flex; /* Flexbox para alinhar os botões */
  flex-direction: column; /* Coloca os botões em coluna */
  justify-content: flex-end; /* Alinha os botões ao final do container */
  align-items: center; /* Centraliza os botões horizontalmente */
  width: 100%; /* Largura total */
  margin-bottom: 8vh; /* Espaçamento inferior */
}

.main-menu ul {
  list-style: none; /* Remove marcadores da lista */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margem */
  display: flex; /* Flexbox para alinhar os botões */
  flex-direction: row; /* Coloca os botões em linha */
  justify-content: center; /* Centraliza os botões */
  gap: 30px; /* Espaçamento entre os botões */
  max-width: 90%; /* Largura máxima do menu */
  min-width: 250px; /* Largura mínima do menu */
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.main-menu button {
  background-color: #ffd90017; /* Cor de fundo dos botões */
  color: #d4e4cd; /* Cor do texto */
  border: 0.5px solid #ffd700; /* Borda branca */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 30px; /* Espaçamento interno */
  font-size: 1.2em; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: all 0.3s ease-in-out; /* Transição suave para hover */
  min-width: 180px; /* Largura mínima dos botões */
  text-align: center; /* Centraliza o texto dentro do botão */
  letter-spacing: 1px; /* Espaçamento entre letras */
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4); /* Sombra para destaque */
}

.main-menu button:hover {
  background-color: #2c2c2c; /* Cor de fundo ao passar o mouse */
  color: #ffd700; /* Cor do texto ao passar o mouse */
  transform: scale(1.05); /* Aumenta levemente o tamanho do botão */
}

.main-menu button:active {
  transform: scale(0.95); /* Diminui levemente o tamanho do botão ao clicar */
}

/* Estilos para o rodapé do jogo */
.game-footer {
  text-align: center; /* Centraliza o texto */
  color: #c7c2c2; /* Cor do texto */
  padding: 3px; /* Espaçamento interno */
  width: 100%; /* Largura total */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  position: absolute; /* Fixa o rodapé na parte inferior */
  bottom: 0; /* Posiciona o rodapé na parte inferior */
  left: 0; /* Alinha o rodapé à esquerda */
  z-index: 1; /* Garante que o rodapé fique acima de outros elementos */
  font-size: 0.8em; /* Tamanho da fonte do rodapé */
  letter-spacing: 4.4px; /* Espaçamento entre letras */
  margin-bottom: 1em; /* Espaçamento inferior */
  font-weight: bold; /* Negrito para destaque */
}

.game-footer a {
  color: #f1c056; /* Cor do link */
  text-decoration: none; /* Remove sublinhado do link */
  font-weight: bold; /* Negrito para destaque */
}

.game-footer a:hover {
  text-decoration: underline; /* Sublinha o link ao passar o mouse */
  color: #fde68a; /* Mantém a cor do link ao passar o mouse */
}

/*Responsividade */
@media (max-width: 1024px) {
  .game-header h1 {
    font-size: 2.8em; /* Tamanho do título em telas menores */
  }

  .game-header h1 span {
    font-size: 0.75em; /* Tamanho do subtítulo em telas menores */
  }

  .game-header p {
    font-size: 1em; /* Tamanho do subtítulo em telas menores */
  }

  .main-menu ul {
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
    justify-content: center; /* Centraliza os botões */
    gap: 15px; /* Espaçamento entre os botões */
    max-width: 80%; /* Largura máxima do menu */
  }

  .main-menu button {
    padding: 10px 25px; /* Reduz o padding dos botões */
    font-size: 1.1em; /* Tamanho da fonte dos botões */
    min-width: 200px; /* Largura mínima dos botões */
  }
}

@media (max-width: 768px) {
  .game-header h1 {
    font-size: 2.5em; /* Tamanho do título em telas menores */
  }

  .game-header h1 span {
    font-size: 0.7em; /* Tamanho do subtítulo em telas menores */
  }

  .game-header p {
    font-size: 0.9em; /* Tamanho do subtítulo em telas menores */
  }

  .main-menu ul {
    flex-direction: column; /* Coloca os botões em coluna em telas menores */
    gap: 15px; /* Espaçamento entre os botões */
    max-width: 90%; /* Largura máxima do menu */
    align-items: center;
  }

  .main-menu button {
    padding: 8px 20px; /* Reduz o padding dos botões */
    font-size: 1em; /* Tamanho da fonte dos botões */
    min-width: 180px; /* Largura mínima dos botões */
  }
  .game-container {
    padding: 20px 0; /* Aumenta o padding do container em telas menores */
  }
  .game-footer {
    font-size: 0.7em; /* Tamanho da fonte do rodapé em telas menores */
    letter-spacing: 3px; /* Espaçamento entre letras no rodapé */
    margin-bottom: 1em; /* Espaçamento inferior do rodapé */
  }
}

@media (max-width: 480px) {
  .game-header h1 {
    font-size: 2em; /* Tamanho do título em telas muito pequenas */
  }

  .game-header h1 span {
    font-size: 0.6em; /* Tamanho do subtítulo em telas muito pequenas */
  }

  .game-header p {
    font-size: 0.8em; /* Tamanho do subtítulo em telas muito pequenas */
  }

  .main-menu ul {
    gap: 10px; /* Espaçamento entre os botões */
    align-items: center; /* Centraliza os botões */
  }

  .main-menu button {
    padding: 6px 15px; /* Reduz ainda mais o padding dos botões */
    font-size: 0.9em; /* Tamanho da fonte dos botões */
    min-width: 150px; /* Largura mínima dos botões */
  }

  .game-container {
    padding: 10px 0; /* Reduz o padding do container em telas pequenas */
  }
  .game-footer {
    font-size: 0.6em; /* Tamanho da fonte do rodapé em telas pequenas */
    letter-spacing: normal; /* Remove espaçamento entre letras no rodapé */
    margin-bottom: 0.5em; /* Reduz o espaçamento inferior do rodapé */
  }
}
